{% extends 'base.html' %}

{% block content %}

<div class="chat-room-container">
  <div class="chat-box">
    <h2>Room code: {{ code }}</h2>
    <div class="messages" id="messages"></div>
    <div class="message-input">
      <input
        type="text"
        rows="3"
        placeholder="Type your message..."
        name="message"
        id="message"
      />
      <button type="button" name="send" id="send-btn" onClick="sendMessage()">
        Send
      </button>
      <button
        type="button"
        name="buzz"
        id="buzz-btn"
        onClick="buzzIn()"
        disabled
      >
        Buzz In
      </button>
    </div>
  </div>

  <div class="buttons">
    <a href="{{ url_for('home') }}" class="main-menu-button">
      <button>Main Menu</button>
    </a>
    <div class="create-game-buttons">
      <button
        type="button"
        class="create-game-button"
        id="createGameButton"
        onClick="createGame()"
      >
        Start Game
      </button>
      <button
        type="button"
        class="create-game-button"
        id="resetGameButton"
        style="display: none;"
        onClick="resetGame()"
      >
        Reset Game
      </button>
    </div>
  </div>
</div>

<script type="text/javascript">
  <script src="script.js"></script>
</script>
{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %} {% endblock %}
